{% extends 'base.html' %}

{% block content %}
  <section class="restaurant-list">
    <div class="container">
      <div class="search-sort">
        <form action="/restaurants/search" method="get">
          <label for="search-input" aria-label="Search restaurants">Search for restaurants:</label>
          <input type="text" id="search-input" name="q" placeholder="Enter a restaurant name" aria-label="Search input">
          <button type="submit" aria-label="Search button">Search</button>
        </form>

        <ul class="nav nav-tabs" aria-label="Sort options">
          <li class="nav-item" ><a class="nav-link active" aria-label="Sort by name" aria-current="page" href="?sort=name">Sort by name</a></li>
          <li class="nav-item" ><a class="nav-link" aria-label="Sort by rating" href="?sort=rating" >Sort by rating</a></li>
          <li class="nav-item" ><a class="nav-link"  aria-label="Sort by price" href="?sort=price">Sort by price</a></li>
        </ul>
      </div>

      <div class="row">
    {% for restaurant in restaurants %}
  <div class="col-md-2 mx-5 mb-4">
    <div class="card border-primary shadow" style="width: 18rem;">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-item active">
          <img src="{{restaurant.image }}" class="img-fluid" alt="{{ restaurant.image }}">
        </div>
{#        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">#}
{#          <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#          <span class="visually-hidden">Previous</span>#}
{#        </button>#}
{#        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">#}
{#          <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#          <span class="visually-hidden">Next</span>#}
{#        </button>#}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ restaurant.name }}</h5>
        <p class="card-text">{{ restaurant.address }}</p>
        <button class="btn btn-primary" onclick="location.href='restaurant_details.html/{{ restaurant.id }}'">Details</button>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="bi bi-telephone-fill"></i> <strong><span style="color: blue;">Phone:</span></strong> {{ restaurant.phone }}</li>
        <li class="list-group-item"><i class="bi bi-link"></i> <strong><span style="color: blue;">Website:</span></strong> <a href="{{ restaurant.website }}">{{ restaurant.website }}</a></li>
{#        <li class="list-group-item"><i class="bi bi-clock"></i> <strong><span style="color: blue;">Hours:</span></strong> {{ restaurant.hours }}</li>#}
{#        <li class="list-group-item"><i class="bi bi-book-fill"></i> <strong><span style="color: blue;">Menu:</span></strong> {{ restaurant.menu }}</li>#}
        <li class="list-group-item"><i class="bi bi-cash-stack"></i> <strong><span style="color: blue;">Price Range:</span></strong> {{ restaurant.priceRange }}</li>
{#        <li class="list-group-item"><i class="bi bi-calendar-check-fill"></i> <strong><span style="color: blue;">Accepts Reservations:</span></strong> {{ restaurant.acceptsReservations }}</li>#}
        <li class="list-group-item"><i class="bi bi-bag-check-fill"></i> <strong><span style="color: blue;">Offers Delivery:</span></strong> {{ restaurant.offersDelivery }}</li>
        <li class="list-group-item"><i class="bi bi-star-fill"></i> <strong><span style="color: blue;">Rating:</span></strong> {{ restaurant.rating }}</li>
        <li class="list-group-item"><i class="bi bi-tags-fill"></i> <strong><span style="color: blue;">Kitchen Category:</span></strong> {{ restaurant.kitchen_category_id }}</li>
        <li class="list-group-item"><a href="/restaurants/{{ restaurant.id }}/add_review" class="add-review-btn"><i class="bi bi-pencil-fill"></i> <strong><span style="color: gray; font-weight: bold;">Add Review</span></strong></a></li>
        <li class="list-group-item"><a href="/restaurants/{{ restaurant.id }}/rate" class="rate-btn"><i class="bi bi-star"></i> <strong><span style="color: gray; font-weight: bold;">Rate</span></strong></a></li>
      </ul>

    </div>
  </div>
    {% if forloop.counter|divisibleby:4 %}
        </div><div class="row">
    {% endif %}
  {% endfor %}
</div>
    </div>
  </section>
{% endblock %}
